/*    Eugene Fenko | Copyright 2017   */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=cyrillic-ext'); 
/* font-family: 'Roboto', sans-serif;  */


/* RESET  */
*{
    padding: 0;
    margin: 0;
}

/* MAIN  */

body {
    font-family: 'Roboto';
    font-size: 16px;
}

a,a:hover,a:link,a:visited {
    color: #333;
    text-decoration: none !important;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* BUTTONS  */
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 5px 0;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
/* BUTTONS  */

/*COLORS  */

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}
/*COLORS  */


.center {
    text-align: center;
}

.circle {
<<<<<<< HEAD
    border-radius: 50%;
=======
    
>>>>>>> 27422a9cc79318767209f612cbf095221a3218a8
}

.row > div {
    margin: 10px 0;
}

input {
    width: 100%;
    border-bottom: 2px solid #aaa;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 8px;
}



input:focus {
    outline: none;
    border-bottom: 2px solid greenyellow;
}


textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}


.name-l {
    color: #444;
    font-size: 2rem;
    font-weight: 300;
}

.check-b {
    color: #666;
}

.check-b > span {
    padding: 10px 20px;
    background: #eee;
    border-radius: 4px;
}

.bord-b {
    border-bottom: 1px dashed #ccc;
    margin: 0 -10px;
}

.bord-b:hover {
    border-bottom: 1px dashed #8bc34a;
}









/* HEADER  */



header {
    height: 100vh;
    background: #ccc;
    padding: 0 !important;
}

#particle {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute !important;
    z-index: 0;
}

#logo-text {
    position: relative;
    color: #eee;
    text-align: center;
    font-size: 4rem;
}

.txt-rotate {
    font-weight: 100;
    font-size: 2.5rem;
}

.head-btn {
    z-index: 1;
    color: white !important;
    position: absolute;
    bottom: 3rem;
}



/* CONTENT  */
.content {
    min-height: 80vh;
    background: #ebeff1;
}

.content-block {
    background: #fff;
    padding: 10px;
    margin: 10px auto;
}

#result_tarea {
    width: 100%;
    font-size: 16px;
    font-family: monospace;
}

#result {
    text-align: center;
}

/* FOOTER  */

footer {
    min-height: 20vh;
    background: #333;
}

