footer {
    align-items: center;
    background: #424242;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2vh;
    padding: 6px;
    text-align: center;
}
