<nav>
    <button mat-raised-button routerLink="" routerLinkActive="router-link-active" >
        <img src="../../../assets/img/navbar/home-nav.svg" alt="" srcset="">        
        Home
    </button>
    <button mat-raised-button routerLink="configurator" routerLinkActive="router-link-active" >
        <img src="../../../assets/img/navbar/config-nav.svg" alt="" srcset="">
        Configurator
    </button>
    <button mat-raised-button routerLink="calculator" routerLinkActive="router-link-active" >
        <img src="../../../assets/img/navbar/decrypt-nav.svg" alt="" srcset="">        
        Calculator
    </button>
    <button mat-raised-button routerLink="about" routerLinkActive="router-link-active" >
        <img src="../../../assets/img/navbar/about-nav.svg" alt="" srcset="">        
        About
    </button>
</nav>
