/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; overflow: hidden; }
body { 
    background: #b3b6b8;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin: 0; 
}
